<footer class="site-footer">
  <div>
    <a class="brand footer-brand" href="/">
      <img class="brand-logo" src="/assets/icons/LogoType.svg" alt="Inflexion" />
    </a>
    <p>Preparing Clients to Navigate the AI Policy Crossroads</p>
  </div>
  <div>
    <!-- <p class="ui-label">Founding partners</p>
    <p data-partners>Louis Crocco, Esq.<br />Kimberly Contino, Esq.</p> -->
  </div>
  <div>
    <a class="button button-primary" href="/services/#briefing">Request a Briefing</a>
    <p class="copyright">&copy; <span data-year></span> The Inflexion. All rights reserved.</p>
  </div>
</footer>
